@tailwind base;
@tailwind components;
@tailwind utilities;

.text-shadow-100{
    text-shadow: black 1px 0 4px;
}
.text-shadow-200{
    text-shadow: black 0 0 2px;
}
.text-shadow-white-200{
    text-shadow: whitesmoke 0 0 4px;
}

.carousel .control-arrow {
  height: 78%;
  border-radius: 5px;
  /* background-color: none; */
}


.line {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 2px;
  height: 100px;
  rotate: -90deg;
  background-color: grey;
}
.line-before {
 left: -70px;
 top:-35px
}
.line-after {
  right: -70px;
  top:-35px
}