@tailwind base;
@tailwind components;
@tailwind utilities;

.text-shadow-100{
    text-shadow: black 1px 0 4px;
}
.text-shadow-200{
    text-shadow: black 0 0 2px;
}



 @keyframes carousel {
    0% {
      transform: translateX(0%);
    }
    25% {
      transform: translateX(-100%);
    }
    50% {
      transform: translateX(-200%);
    }
    75% {
      transform: translateX(-300%);
    }
    100% {
      transform: translateX(0%);
    }
  }